<!DOCTYPE html>
<head>
    <title>Week 10</title>
</head>
<body>
    <div id="app">
        <h1>Week 10 Lab</h1>
        <input type="text" v-model="firstName" placeholder="First Name">
        <input type="text" v-model="lastName" placeholder="Last Name">

        <p> Full Name: {{ fullName }}</p>
        <input type="number" v-model="quantity" min="0">  
        <p>Price per Item: ${{ pricePerItem }}</p>
        <p>Total Price: ${{ totalPrice }}</p>

        <button @click="clearFields">Clear Fields</button>
    </div>
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
    <script src="scripts/app.js"></script> 
</body>
</html>