<!DOCTYPE html>
<head>
    <title>Week 10</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="FirstName" placeholder="First Name">
        <input type="text" v-model="LastName" placeholder="Last Name">

        <p> Name: {{ fullName }}</p>
        <input type="number" v-model="quantity" min="0">
        
        <!-- Paragraphs to Display Price per Item and Total Price -->
        <p>Price per Item: ${{ pricePerItem }}</p>
        <p>Total Price: ${{ totalPrice }}</p>
        
        <!-- Button to Clear Input Fields -->
        <button @click="clearFields">Clear</button>
    </div>
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
    <script src="scripts/app.js"></script> 
</body>
</html>